
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  background: #97d9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  position: fixed;
  overflow-y: scroll;
  max-height: 300px;
}
